<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head></head>
<body>
    <div th:fragment="program-parameters">
        <div class="col-md-2 panel panel-default">
            <div class="panel-body">
                <p class="text-primary">Set options:</p>
                <div class="form-group">
                    <form id="first">
                        <!-- Select params: one prefix. one name, different values and texts-->
                        <small th:text="${programParams.selectionParams.paramName}">Selection parameters:</small>
                        <select class="selectionParams form-control input-sm" th:prefix="${programParams.selectionParams.paramPrefix}">
                            <option selected='selected' disabled="disabled">select</option>
                            <option th:forEach="selectionParam : ${programParams.selectionParams.paramOptions}"
                                    th:value="${selectionParam.value}"
                                    th:text="${selectionParam.text}?: ${selectionParam.value}">
                                Select option.
                            </option>
                        </select>
                        <!-- Usual params: different names and prefixes-->
                        <ul class="usualParams">
                            <li th:forEach="param : ${programParams.usualParams}">
                                <small th:text="${param.paramName}">Parameter:</small>
                                <input type="text"
                                       class="form-control input-sm"
                                       th:prefix="${param.paramPrefix}"
                                       th:name="${param.paramName}"/>
                            </li>
                        </ul>
                        <!-- Radio params: one prefix. same name, different values and texts-->
                        <small th:text="${programParams.radioParams.paramName}">Radio parameters:</small>
                        <ul class="radioParams" th:prefix="${programParams.radioParams.paramPrefix}" >
                            <li th:forEach = "radioParam : ${programParams.radioParams.paramOptions}">
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control input-sm"
                                               th:name="${programParams.radioParams.paramName}"
                                               th:value="${radioParam.value}"
                                               th:text="${radioParam.text}?: ${radioParam.value}"
                                               th:checked="${ifChecked}" /> <!--Need to deal with 'checked' attribute-->
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <!-- Checkbox params: one paramName, different option names. prefixes, values and texts-->
                        <small th:text="${programParams.checkBoxParams.paramName}">Checkbox parameters:</small>
                            <div class="checkbox" th:forEach="checkBoxParam : ${programParams.checkBoxParams.paramOptions}">
                                <label>
                                    <input type="checkbox"
                                           class="form-control input-sm"
                                           th:prefix="${checkBoxParam.optionPrefix}"
                                           th:name="${checkBoxParam.optionName}?: ${checkBoxParam.value}"
                                           th:value="${checkBoxParam.value}"
                                           th:text="${checkBoxParam.text}?: ${checkBoxParam.value}"
                                           th:checked="${ifChecked}" /> <!--Need to deal with 'checked' attribute-->
                                </label>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>