<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head></head>
<body>

    <div th:fragment="program-parameters-forOne-input">
        <div class="col-md-2 panel panel-default">
            <div class="panel-body">
                <p class="text-primary">Set options:</p>
                <div class="form-group">
                    <form id="first">
                        <small th:text="${programParams.selectionParams.paramName}">Selection parameters:</small>
                        <select class="selectParams form-control input-sm" th:id="${programParams.selectionParams.paramPrefix}">
                            <option selected='selected' disabled="disabled">select</option>
                            <option th:forEach="selectionParam : ${programParams.selectionParams.paramOptions}"
                                    th:value="${selectionParam.value}"
                                    th:text="${selectionParam.text}?: ${selectionParam.value}">
                                Select option.
                            </option>
                        </select>
                        <ul class="usualParams">
                            <li th:forEach="param : ${programParams.usualParams}">
                                <small th:text="${param.paramName}">Parameter:</small>
                                <input th:id="${param.paramPrefix}" th:name="${param.paramName}" type="text" class="form-control input-sm"/>
                            </li>
                        </ul>
                        <small th:text="${radioParamName}">Radio parameters:</small>
                        <ul class="radioParams" th.id="${programParams.radioParams.paramPrefix}" >
                            <li th:forEach = "radioParam : ${programParams.radioParams}">
                                <label class="radio-inline">
                                    <input th:name="${radioParam.paramName}"
                                           type="radio" th:value="${radioParam.value}" th:checked="${ifChecked}" th:text="${radioParam.paramName}"/>
                                </label>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div th:fragment="program-parameters-forTwo-inputs">
        <div class="col-md-2 panel panel-default">
            <div class="panel-body">
                <p class="text-primary">Set options:</p>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <div class="form-group">
                            <form id ="first">
                                <small th:text="${selectionParamNameFirst}">Selection parameters:</small>
                                <select th:id="${selectionParamIdFirst}" class="form-control input-sm">
                                    <option selected='selected' disabled="disabled">select</option>
                                    <option th:forEach="selectionParam : ${selectionParamsFirst}" th:value="${selectionParam.value}" th:text="${selectionParam.text}">
                                        Select option.
                                    </option>
                                </select>
                                <ul>
                                    <li th:forEach="param : ${programParamsFirst}">
                                        <small th:text="${param.paramName}">Parameter:</small>
                                        <input th:id="${param.paramName}" th:name="${param.paramName}" type="text" class="form-control input-sm"/>
                                    </li>
                                </ul>
                                <small th:text="${radioParamNameFirst}">Radio parameters:</small>
                                <ul>
                                    <li th:forEach = "radioParam : ${radioParamsFirst}">
                                        <label class="radio-inline">
                                            <input th:name="${radioParam.paramName}"
                                                   type="radio" th:value="${radioParam.value}" th:checked="${ifChecked}" th:text="${radioParam.paramName}"/>
                                        </label>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <form id ="second">
                                <small th:text="${selectionParamNameSecond}">Selection parameters:</small>
                                <select th:id="${selectionParamIdFirst}" class="form-control input-sm">
                                    <option selected='selected' disabled="disabled">select</option>
                                    <option th:forEach="selectionParam : ${selectionParamsSecond}" th:value="${selectionParam.value}" th:text="${selectionParam.text}">
                                        Select option.
                                    </option>
                                </select>
                                <ul>
                                    <li th:forEach="param : ${programParamsSecond}">
                                        <small th:text="${param.paramName}">Parameter:</small>
                                        <input th:id="${param.paramName}" th:name="${param.paramName}" type="text" class="form-control input-sm"/>
                                    </li>
                                </ul>
                                <small th:text="${radioParamNameSecond}">Radio parameters:</small>
                                <ul>
                                    <li th:forEach = "radioParam : ${radioParamsSecond}">
                                        <label class="radio-inline">
                                            <input th:name="${radioParam.paramName}"
                                                   type="radio" th:value="${radioParam.value}" th:checked="${ifChecked}" th:text="${radioParam.paramName}"/>
                                        </label>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>